<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Laptop</th>
        <th scope="col">Sales</th>
        <th scope="col">Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td><a href = "../list/list.component.html/">DELL</a></td>
        <td>$50000</td>
        <td>10/10</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td><a href = "../list/list.component.html/">HP</a></td>
        <td>$45000</td>
        <td>8/10</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td><a href = "../list/list.component.html/">ASUS</a></td>
        <td>$42000</td>
        <td>8/10</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td><a href = "../list/list.component.html/">ALIENWARE</a></td>
        <td>$40000</td>
        <td>7/10</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td><a href = "../list/list.component.html/">LENOVO</a></td>
        <td>$37000</td>
        <td>7/10</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td><a href = "../list/list.component.html/">RAZER</a></td>
        <td>$35000</td>
        <td>7/10</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td><a href = "../list/list.component.html/">ACER</a></td>
        <td>$31000</td>
        <td>7/10</td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td><a href = "../list/list.component.html/">MICROSOFT</a></td>
        <td>$30000</td>
        <td>6/10</td>
      </tr>
      <tr>
        <th scope="row">9</th>
        <td><a href = "../list/list.component.html/">HUAWEI</a></td>
        <td>$29000</td>
        <td>6/10</td>
      </tr>
      <tr>
        <th scope="row">10</th>
        <td><a href = "../list/list.component.html/">APPLE</a></td>
        <td>$28000</td>
        <td>6/10</td>
      </tr>
    </tbody>
  </table>