<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Laptop</th>
        <th scope="col">Sales</th>
        <th scope="col">Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td><a href = "/list">DELL</a></td>
        <td>$50000</td>
        <td>10/10</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td><a href = "/list">HP</a></td>
        <td>$45000</td>
        <td>8/10</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td><a href = "/list">ASUS</a></td>
        <td>$42000</td>
        <td>8/10</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td><a href = "/list">ALIENWARE</a></td>
        <td>$40000</td>
        <td>7/10</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td><a href = "/list">LENOVO</a></td>
        <td>$37000</td>
        <td>7/10</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td><a href = "/list">RAZER</a></td>
        <td>$35000</td>
        <td>7/10</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td><a href = "/list">ACER</a></td>
        <td>$31000</td>
        <td>7/10</td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td><a href = "/list">MICROSOFT</a></td>
        <td>$30000</td>
        <td>6/10</td>
      </tr>
      <tr>
        <th scope="row">9</th>
        <td><a href = "/list">HUAWEI</a></td>
        <td>$29000</td>
        <td>6/10</td>
      </tr>
      <tr>
        <th scope="row">10</th>
        <td><a href = "/list">APPLE</a></td>
        <td>$28000</td>
        <td>6/10</td>
      </tr>
    </tbody>
  </table>