<br>

<h2>Rating Table</h2>

<table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Laptop</th>
        <th scope="col">Rating</th>
        <th scope="col">Total Number Of People Rate</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>DELL</td>
            <td>10</td>
            <td>100</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>HP</td>
            <td>8</td>
            <td>100</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>ASUS</td>
            <td>8</td>
            <td>96</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>ALIENWARE</td>
            <td>7</td>
            <td>94</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>LENOVO</td>
            <td>7</td>
            <td>90</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>RAZER</td>
            <td>7</td>
            <td>83</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>ACER</td>
            <td>7</td>
            <td>81</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>MICROSOFT</td>
            <td>6</td>
            <td>80</td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>HUAWEI</td>
            <td>6</td>
            <td>75</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>APPLE</td>
            <td>6</td>
            <td>72</td>
          </tr>
    </tbody>
  </table>